.container-c{
    display: flex;
    margin-left: 120px;
    margin-top: 100px;
}
.img-c{
    width: 120px;
    height: 120px;
    margin-right: 50px;
}
.coin-row{
    display: flex;
    margin-bottom: 30px;
}
.left-rows{
    margin-right: 150px;
}
.right-rows{
    margin-right: 150px;
}
a{
    text-decoration: none;
    color: #833AE0;
    font-size: 16px;
    font-weight: 500;
}
.back{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 120px;
    height: 48px;
    background-color: #833AE0;
    color: white;
    font-size: 18px;
    right: 120px;
}

h1{
    margin-left:140px
}