.container-c{
    display: flex;
    margin-left: 120px;
}
.img-c{
    width: 120px;
    height: 120px;
    margin-right: 50px;
}
.coin-row{
    display: flex;
    margin-bottom: 30px;
}
.left-rows{
    margin-right: 150px;
}
.right-rows{
    margin-right: 150px;
}
a{
    
    
    text-decoration: none;
    color: #833AE0;
    font-size: 16px;
    font-weight: 500;
}